<head>   
    {% load static %}
    <link rel="shortcut icon" href="{% static 'main/img/favicon-96x96.png' %}">
    <link href="{% static 'tinymce/css/prism.css' %}" rel='stylesheet'>

    <meta charset="utf-8">   
    <meta name="description" content="Bootstrap.">  
    <!-- <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">    -->
    <link href="{% static 'main/bootstrap3.2.min.css' %}" rel="stylesheet">   
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <!-- <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
    <script type="text/javascript" src="{% static 'main/bootstrap3.2.min.js' %}"></script>
    
    <!-- <link href="{% static 'tinymce/css/prism.css' %}" rel='stylesheet'> -->

    <title>Code Maaster</title>
    
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900&display=swap" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Merriweather:400,900&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic&display=swap" rel="stylesheet">

    <link rel='stylesheet' type="text/css" href="{% static 'main/css/main.css' %}" >

</head>

<body style="margin:20px 20px">
    {% include "includes/navbar.html" %}
    {% include "includes/messages.html" %}
    
    <div class="">
    {% block content %}
    {% endblock %}
    </div>
    <script src="{% static 'tinymce/js/prism.js' %}"></script>
</body>
<script>
$(document).ready(function(){
    $('#myTable').dataTable();
});
</script>


