<style>
    .alert-error {
        background-color: pink;
        font-weight: bold;
    }
</style>

{% if messages %}
    {% for message in messages %}
        <div style="position: relative; min-height: 60px;">
            <div class="alert alert-{{ message.tags }} alert-dismissible {{ message.tags }}-fade" role="alert" style="max-width: 400px; position: fixed; right: 20;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        </div>
    {% endfor %}
{% endif %}



<!-- <div style="position: relative; min-height: 60px; ">
    <div class="alert alert-error alert-dismissible error-fade" role="alert" style="max-width: 400px; position: fixed; right: 20;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        Little Piggie says Hi!
    </div>
</div> -->

<script>
    $(document).ready(function() {
        // messages timeout for 10 sec 
        setTimeout(function() {
            $('.success-fade').parent().fadeOut('slow');
        }, 2500); 
        setTimeout(function() {
            $('.info-fade').parent().fadeOut('slow');
        }, 2500); 
        setTimeout(function() {
            $('.warning-fade').parent().fadeOut('slow');
        }, 5000); 
        setTimeout(function() {
            $('.error-fade').parent().fadeOut('slow');
        }, 8000); 
    });
</script>

