{% extends "header/header.html" %}


{% block content %}

{{ form.media }}
<div class="container" style="max-width: 800px;">

    <form method="POST" role="form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="row" style="text-align: center">
            <div class="form-group">
                {{ form.parent_language.errors }}
                <label class="help-block form-label" for="{{ form.parent_language.id_for_label }}" ">Parent Language</label> 
                {{ form.parent_language }}
            </div>
        </div>
        <div class="row" style="text-align: center">
            <button id="tiny-submit" class="btn btn-warning" type="submit">Check ...</button>
        </div>
    </form>
</div>    

{% endblock %}