{% extends "header/header.html" %}

{% block content %}

	{% load static %}
    <div class="">
        <!-- <div class="row header" style="text-align:center;color:green">
            <h3>Bootstrap</h3>
        </div> -->
        <table id="myTable" class="table table-striped" >
            <thead>
                <tr>
                <th>Method Name</th>
                <th>Description</th>
                <th>Example</th>
                <th>Library</th>
                <th>Language</th>
                </tr>
            </thead>
            <tbody>
                {% for method in methods %}
                <tr>
                <td>&nbsp; <a href="/all/{{method.parent_language.language_name}}/{{method.parent_library.library_name}}/{{method.method_name}}">{{method.method_name}}</a></td>
                <td>&nbsp; {{method.short_description}}</td>
                <td>&nbsp; {{method.use_example}}</td>
                <td width="10%">&nbsp; <a href="/all/{{method.parent_language.language_name}}/{{method.parent_library.library_name}}">{{method.parent_library.library_name}} </a></td>
                <td width="10%">&nbsp; <a href="/all/{{method.parent_language.language_name}}">{{method.parent_language.language_name}} </a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        
    

{% endblock %}